.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  min-height: 50px;
  max-height: 50px;
  background-color: @header;

  &__btn {
    margin-left: auto;
  }

  &__caption {
    font-size: @fz24;
    color: @white;
  }
}
