table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  position: relative;
}

.resizer {
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10px;
}
